@import url("http://fonts.cdnfonts.com/css/avone");
@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url("http://fonts.cdnfonts.com/css/proxima-nova");

body {
    font-family: Montserrat, Proxima Nova, AVONE, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

/* Hello CSS */
.hello::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hello:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hello::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgba(0, 204, 255, 0.705);
    z-index: -1;
    transition: transform 0.3s ease;
}

.hello {
    position: relative;
    font-weight: 800;
    font-size: 13rem;
    top: 34vh;
    left: 7vw;
    width: fit-content;
}

/* Navbar CSS */
.navbar-0 {
    position: fixed;
    z-index: 2;
    font-size: 1.3em;
    font-weight: 500;
    padding: 3.4vh 8vw;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    transition: 400ms;
}

.navbar {
    position: fixed;
    z-index: 2;
    font-size: 1.3em;
    font-weight: 500;
    padding: 2vh 8vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    display: flex;
    transition: 300ms;
}

#logo {
    font-family: "AVONE", sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 300ms;
}

#logo:hover {
    color: #f72585;
    cursor: pointer;
}

.nav-elements {
    margin-left: 3vw;
    cursor: pointer;
    transition: 300ms;
}

.nav-elements:hover {
    color: #f72585;
    margin-left: 3vw;
    cursor: pointer;
}

.nav-group {
    position: relative;
    left: 33vw;
    display: flex;
}

/* illustration previe css */
.illustration {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-design {
    height: 80vh;
}

/* BG image */
.bg-image {
    z-index: -1;
    opacity: 0.9;
    position: absolute;
    width: 200vw;
    left: -200px;
    top: -200px;
}

.crop-100 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.crop-heading {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}

.vector {
    width: 95vw;
}

/* about us css */
.heading {
    width: 100vw;
    height: 60vh;
    background: #f72585;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.titles {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 0.35em;
    color: #ffffff;
}

.sub-titles {
    font-family: Montserrat;
    font-size: 2em;
    color: #ffffff;
}

.about-info {
    display: flex;
    align-items: center;
    position: relative;
    height: 90vh;
    background: #000000;
}

#bio {
    width: 42.5vw;
    padding: 15vh;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    line-height: 1.6em;
    color: #ffffff;
}

.display-picture-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38vw;
    height: 50vh;
    background: linear-gradient(90deg, #3a0ca3 0%, #de2486 90.9%);
}

.profile-picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38vw;
}

/* design info css */
.design-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vw;
    row-gap: 3vw;
    height: fit-content;
    padding: 15vh 8vw;
    background: #000000;
    color: #ffffff;
}

.design-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
}

.design-image {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    transition: transform 500ms;
}

.design-image:hover {
    transform: scale(1.1);
}

/* project css  */
.project-info {
    height: fit-content;
    background: #000000;
    color: #ffffff;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.project-title {
    font-weight: bold;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 6vw; */
}

.project-status {
    color: white;
    font-size: 0.5em;
    font-weight: 300;
}

.project-image-container {
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer css */
.footer {
    background: #000000;
    color: #ffffff;
}

.contact-section {
    padding: 15vh 10vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-me {
    font-size: 5em;
    font-weight: 600;
    transition: 300ms;
}

.contact-me:hover {
    color: #f72585;
}

#reach-me {
    /* padding-left: 2vw; */
    font-weight: 400;
    font-size: 1.7em;
}

.contact-details {
    display: grid;
    padding-top: 4vh;
    padding-left: 5vw;
    font-size: 1.4em;
    color: #fff;
}

.social-contact {
    display: flex;
    align-items: center;
    transition: 500ms;
}

.social-contact:hover {
    color: aqua;
    display: flex;
    align-items: center;
}

.icons {
    padding: 2vh;
    font-size: 1.2em;
}

.footer-info {
    padding: 7vh 5vw 4vh;
    background: #000000;
    font-weight: 500;
    color: #585858;
    text-align: center;
}
